<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../stylesheets/style_header.css' />
  </head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <body>
    <%- include('../inc/header') %>
    <div class="content">
      <h1>Chu Đình Hiếu</h1> 
    </div>
  </body>
</html>
