<div class="header col-md-12 sm-12 " style="display: flex; align-items: center; ">
  <div class="letf" style="width: 20%;">
    <img src="/images/Logo.png" alt="Logo" class="logo"> 
    <span class="logo-text">SkyLap</span>
  </div>
 <div class="right" style=" display: flex; width: 80%; justify-content: center;">
  <span class="logo-text"><%= title %></span>
 </div>
</div>